<div class="container-fluid p-0 m-0">
  <form [formGroup]="characterForm" (ngSubmit)="createCharacter()">
    <div class="row myBg justify-content-center m-0 p-4">
      <!-- IMMAGINI PG-->
      <div class="col-12">
        <h1 class="text-white text-center">CREA IL TUO PERSONAGGIO</h1>
        <h3 class="text-white text-center mb-5">1. SCEGLI LA CLASSE</h3>
        <div class="row mt-5 justify-content-center">
          <div class="col-3 d-flex flex-column align-items-center justify-content-center mx-4 "
            *ngFor="let class of classes">
            <!-- Avvolgere l'intera card in un'etichetta -->
            <label class="card-container">
              <input type="radio" formControlName="classId" [value]="class.classId" style="display: none;" />
              <div class="card" (click)="onClassChange(class.classId)">
                <img [src]="class.img" alt="class" class="img-fluid" />
                <div class="card-body myBg">
                  <h4 class="text-white text-center mt-3">{{ class.className }}</h4>
                  <p class="myTextColor fs-4 text-center">{{ class.bio }}</p>
                </div>
              </div>
            </label>
          </div>
        </div>
      </div>
      <!--FINE IMMAGINI PG-->
      <div class="form-group mt-5">
        <div class="mt-3 d-flex justify-content-center"><label class="text-white">Select Skills:</label></div>
        <span class=" custom-checkbox mx-2" *ngFor="let skill of skills">
          <label class="text-white skill-label btn myBtn mt-3">
            <input type="checkbox" [value]="skill.skillId" (change)="onSkillSelect($event, skill)"
              style="display: none;" />
            <span class="custom-checkbox"></span>
            <span>{{ skill.skillName }} - Cost: {{ skill.exp }} Exp</span>
          </label>
        </span>
      </div>


      <!--TASTO PER APRIRE IL MODALE-->
      <div class="d-flex justify-content-center form-group">
        <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">PROCEDI</button>

        <!--MODALE-->
        <div class="modal fade form-group" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content myBg">
              <div class="modal-header">
                <h1 class="modal-title text-center text-white fs-5" id="exampleModalLabel">INSERISCI IL NOME DEL TUO
                  PERSONAGGIO</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <input type="text" formControlName="characterName" class="form-control" id="characterName" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn myBtnSmallTwo" data-bs-dismiss="modal">CHIUDI</button>
                <button type="submit" class="btn myBtnSmall">PARTIAMO!</button>
              </div>
            </div>
          </div>
        </div>
        <!--FINE MODALE-->
      </div>
    </div>
  </form>
</div>