<div class="container-fluid p-0 m-0">
  <form [formGroup]="characterForm" (ngSubmit)="createCharacter()">
    <div class="row myBg justify-content-center m-0 p-4">
      <div class="col-12">
        <h1 class="text-white text-center">CREA IL TUO PERSONAGGIO</h1>
        <h3 class="text-white text-center mb-4">SCEGLI LA CLASSE</h3>
        <div class="row mt-4 justify-content-center">
          <div class="col-3 d-flex flex-column align-items-center justify-content-center" *ngFor="let class of classes">
            <img [src]="class.img" alt="class" class="img-fluid" />

            <h4 class="text-white text-center mt-3">{{ class.className }}</h4>
            <p class="myTextColor fs-4 text-center">
              {{ class.bio }}
            </p>
            <input formControlName="classId" type="radio" [value]="class.classId" (change)="onClassChange($event)" />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Select Skills:</label>
        <div *ngFor="let skill of skills">
          <label>
            <input type="checkbox" [value]="skill.skillId" (change)="onSkillSelect($event, skill)" />
            {{ skill.skillName }} - Exp: {{ skill.exp }}
          </label>
        </div>
      </div>
      <div class="d-flex justify-content-center form-group">
        <button type="button" class="btn myBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
          PROCEDI
        </button>

        <div class="modal fade form-group" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content myBg">
              <div class="modal-header">
                <h1 class="modal-title text-center text-white fs-5" id="exampleModalLabel">
                  INSERISCI IL NOME DEL TUO PERSONAGGIO
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <input type="text" formControlName="characterName" class="form-control" id="characterName" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn myBtnSmallTwo" data-bs-dismiss="modal">
                  CHIUDI
                </button>

                <button type="submit" class="btn myBtnSmall">PARTIAMO!</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row justify-content-center mt-5">
        <div class="col-12">
          <h3 class="text-white text-center mb-4">SCEGLI LE ABILITÀ</h3>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button
            type="button"
            class="btn myBtn"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            PROCEDI
          </button>

          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content myBg">
                <div class="modal-header">
                  <h1
                    class="modal-title text-center text-white fs-5"
                    id="exampleModalLabel"
                  >
                    INSERISCI IL NOME DEL TUO PERSONAGGIO
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <input type="text" class="form-control bg-dark text-white" />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn myBtnSmallTwo"
                    data-bs-dismiss="modal"
                  >
                    CHIUDI
                  </button>
                  <button type="submit" class="btn myBtnSmall">
                    PARTIAMO!
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </form>
</div>