<div class="row myBg justify-content-center m-0 p-4">
  <div class="col-12">
    <h1 class="text-white text-center">CREA IL TUO PERSONAGGIO</h1>
    <div class="row mt-4 justify-content-center">
      <h3 class="text-white text-center mb-4">SCEGLI LA CLASSE</h3>
      <div
        class="col-3 d-flex flex-column align-items-center justify-content-center"
      >
        <img
          src="https://th.bing.com/th/id/OIG2.Ip.LAra1eCHTU9Ea3Wxw?pid=ImgGn"
          alt="class"
          class="img-fluid"
        />

        <h4 class="text-white text-center mt-3">GUERRIERO</h4>
        <p class="myTextColor fs-4 text-center">
          Il Guerriero è un combattente robusto e coraggioso, in grado di
          affrontare i nemici in prima linea con forza bruta e abilità nel corpo
          a corpo.
        </p>
        <input type="checkbox" />
      </div>
      <div
        class="col-3 d-flex flex-column align-items-center justify-content-center"
      >
        <img
          src="https://th.bing.com/th/id/OIG2.giN_VixGaT5nHdJ58EaN?pid=ImgGn"
          alt="class"
          class="img-fluid"
        />
        <h4 class="text-white text-center mt-3">MAGO</h4>
        <p class="myTextColor fs-4 text-center">
          Maestro delle arti arcane, il Mago lancia incantesimi potenti da
          lontano, ma è vulnerabile negli scontri ravvicinati.
        </p>
        <input type="checkbox" />
      </div>
      <div
        class="col-3 d-flex flex-column align-items-center justify-content-center"
      >
        <img
          src="https://th.bing.com/th/id/OIG1.ndTSh3IP6PIYPRpplv_Z?pid=ImgGn"
          alt="class"
          class="img-fluid"
        />
        <h4 class="text-white text-center mt-3">ARCIERE</h4>
        <p class="myTextColor fs-4 text-center">
          L'Arciere, esperto di tiro con l'arco, colpisce i nemici a distanza
          con precisione letale e può muoversi furtivamente sul campo di
          battaglia.
        </p>
        <input type="checkbox" />
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-12">
      <h3 class="text-white text-center mb-4">SCEGLI LE ABILITÀ</h3>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>
    </div>
    <!-- Button trigger modal -->
    <div class="d-flex justify-content-center">
      <button
        type="button"
        class="btn myBtn"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        PROCEDI
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content myBg">
            <div class="modal-header">
              <h1
                class="modal-title text-center text-white fs-5"
                id="exampleModalLabel"
              >
                INSERISCI IL NOME DEL TUO PERSONAGGIO
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control bg-dark text-white" />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn myBtnSmallTwo"
                data-bs-dismiss="modal"
              >
                CHIUDI
              </button>
              <button type="button" class="btn myBtnSmall">PARTIAMO!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
