<div class="container text-light">
  <H1 class="my-5 text-center">EVENTI IN PROGRAMMA</H1>
  <p>parti subito per la tua prossima avventura!</p>

  <div class="row">
    <div class="col" *ngFor="let event of events">
      <div>
        <h3>{{ event.titolo }}</h3>
        <p>{{ event.descrizione }}</p>
        <img [src]="event.urlImmagine" alt="{{ event.titolo }}" />
        <p>Master: {{ event.master }}</p>
        <p>Data: {{ event.data }}</p>
        <p>Tipo: {{ event.tipo }}</p>
        <p>Numero Giocatori: {{ event.numeroGiocatori }}</p>
        <p>Indirizzo: {{ event.indirizzo }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="myGradient rounded-5 card text-light">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN__rsvIF_VFmDva57YV9kX7AS89LkAN6G8w&s"
          class="img-fluid rounded-top-5"
          alt="..."
          style="height: 20rem"
        />
        <div class="card-body px-5">
          <h5 class="card-title fw-bolder mb-3 fs-1 gradtitolo text-center">
            LA campagna dei Dementi
          </h5>
          <p class="card-text fw-bolder mb-3 fs-4 text-center">
            Master: Magurmo
          </p>
          <p class="card-text fs-5">
            Tu ed un gruppo di idioti partite all'avventura alla ricerca della
            Loli leggendaria di centesimo livello!
          </p>
          <p class="card-text fs-5">
            <span class="gradtitolo fs-4">Data:</span> 10 ottobre
            <span class="gradtitolo fs-4">Tipo:</span> evento online
          </p>
          <p class="card-text fs-5">
            <span class="gradtitolo fs-4">Numero Giocatori:</span> 1000
          </p>
          <p class="card-text fs-5">
            <span class="gradtitolo fs-4">Indirizzo:</span> a casa tua
          </p>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary">Iscriviti</a>
          </div>
        </div>
      </div>
    </div>

    <!-------------------------------------------------------------------------------------->

    <!-------------------------------------------------------------------------------------->
  </div>
</div>
