<div class="row myBg m-0 p-0">
  <div class="col-12 mt-3">
    <div
      *ngIf="character"
      class="text-center d-flex flex-column align-items-center justify-content-center"
    >
      <h1 class="text-white fw-bolder">RECAP DEL PERSONAGGIO</h1>
      <div class="row justify-content-center align-items-center">
        <div class="flip-box col-4 mt-3" id="img">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <img [src]="class.img" alt="img" class="img-fluid" />
            </div>
            <div class="flip-box-back" *ngIf="race">
              <img [src]="race.img" alt="img" class="img-fluid" />
              <p class="text-white">ciao</p>
            </div>
          </div>
        </div>
        <p class="text-white fs-2 mb-4" id="name">
          <span class="fantasy">NOME</span> <br />{{ character.characterName }}
        </p>
        <p class="text-white mb-4 fs-2" *ngIf="class">
          <span class="fantasy">CLASSE</span> <br />{{ class.className }}
        </p>
        <p class="text-white fs-2"><span class="fantasy">ABILITÀ</span></p>
        <div class="col-4 d-flex flex-column">
          <p
            class="text-white myBtnSmall mx-2 fs-2"
            *ngFor="let skill of characterSkills"
          >
            {{ skill.skillName }} - Exp {{ skill.exp }}
          </p>
        </div>

        <!-- Bottoni -->
        <button class="btn btn-danger" (click)="deleteCharacter()">
          Elimina Personaggio
        </button>
        <button class="btn btn-primary" (click)="goToHome()">
          Torna alla Home
        </button>

        <div *ngIf="!character">
          <p>Caricamento in corso...</p>
        </div>
      </div>
    </div>
  </div>
</div>
