<div class="row myBg">
  <div class="col-12 mt-3">
    <div *ngIf="character" class="text-center">
      <h1 class="text-white fw-bolder">RECAP DEL PERSONAGGIO</h1>

      <p class="text-white">
        <strong>Nome:</strong> {{ character.characterName }}
      </p>
      <p class="text-white"><strong>Classe:</strong> {{ class.className }}</p>
      <p class="text-white"><strong>Abilità:</strong></p>
      <ul>
        <li
          class="list-unstyled text-white"
          *ngFor="let skill of characterSkills"
        >
          {{ skill.skillName }} - Exp {{ skill.exp }}
        </li>
      </ul>

      <!-- Bottoni -->
      <button class="btn btn-danger" (click)="deleteCharacter()">
        Elimina Personaggio
      </button>
      <button class="btn btn-primary" (click)="goToHome()">
        Torna alla Home
      </button>
    </div>
    <div *ngIf="!character">
      <p>Caricamento in corso...</p>
    </div>
  </div>
</div>
