<form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <input type="text" formControlName="master" placeholder="Master" />
  <input type="text" formControlName="titolo" placeholder="Titolo" />
  <textarea formControlName="descrizione" placeholder="Descrizione"></textarea>
  <input type="url" formControlName="urlImmagine" placeholder="URL Immagine" />
  <input type="date" formControlName="data" placeholder="Data" />
  <select formControlName="tipo">
    <option value="" disabled selected>Seleziona...</option>
    <option value="live">Live</option>
    <option value="online">Online</option>
  </select>
  <input type="number" formControlName="numeroGiocatori" placeholder="Numero Giocatori" />
  <input type="text" formControlName="indirizzo" placeholder="Indirizzo o link Discord" />
  <button type="submit" [disabled]="eventForm.invalid">Crea Evento</button>
</form>
