<form>
  <input type="text" placeholder="master" />
  <input type="text" placeholder="Titolo" />
  <input type="textarea" placeholder="descrizione" />
  <input type="url" placeholder="url immagine" />
  <input type="date" placeholder="data" />
  <input type="text" placeholder="master" />
  <select>
    <option value="selectPlaceholder" disabled selected>Seleziona...</option>
    <option value="live">Live</option>
    <option value="online">Online</option>
  </select>
  <input type="number" placeholder="numero giocatori" />
  <input type="text" placeholder="indirizzo o link discord" />
  <button type="submit">crea evento</button>
</form>
