<div class="activebg vh-100">
  <h1 class="text-center py-5">
    Contatta gli altri utenti attivi per avviare con loro fantastiche campagne!
  </h1>
  <h6 class="text-center pb-2">Sempre se vogliono giocare con te</h6>
  <div class="row m-0">
    <div class="col-12">
      <ul class="list-group p-2" *ngFor="let iscritto of users; let i = index">
        <li class="m-2 fs-2 d-flex justify-content-center fw-bold">
          <img
            [src]="iscritto?.immagine"
            width="50px"
            class="me-3 rounded-circle"
          />
          {{ iscritto?.username }}
          {{ iscritto.id }}
          {{ iscritto?.email }}
          {{ iscritto?.nome }}
          {{ iscritto?.cognome }}
          {{ iscritto?.genere }}
        </li>
        <div *ngIf="combina[iscritto.id].length > 0">
          <h2>Personaggi di {{ iscritto.username }}</h2>
          <ul>
            <li *ngFor="let character of combina[iscritto.id]">
              {{ character.characters.characterName }}
              <!-- Aggiungi qui altri dettagli del personaggio -->
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</div>
