.activebg {
  background-color: #10111a;
  color: white;
}

ul {
  list-style-type: none;
}

.btn {
  background-color: #10111a;
  color: white;
}
.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-equal-height .card-body {
  flex-grow: 1;
}
