<div class="activebg vh-100">
  <h1 class="text-center py-5">
    Contatta gli altri utenti attivi per avviare con loro fantastiche campagne !
  </h1>
  <h6 class="text-center pb-2">Sempre se vogliono giocare con te</h6>
  <div class="row m-0">
    <div class="col-12">
      <ul
        class="list-group p-2"
        *ngFor="let iscritto of combina; let i = index"
      >
        <li class="m-2 fs-2 d-flex justify-content-center fw-bold">
          <img
            [src]="iscritto?.immagine"
            width="50px"
            class="me-3 rounded-circle"
          />
          {{ iscritto.characters }}
          {{ iscritto?.id }}
          {{ iscritto?.email }}
          {{ iscritto?.nome }}
          {{ iscritto?.cognome }}
          {{ iscritto?.genere }}
        </li>
        <!--  <p class="d-inline-flex gap-1 text-center m-auto fs-4">
           <button
            class="btn"
            type="button"
            data-bs-toggle="collapse"
            [attr.data-bs-target]="'#collapseExample' + i"
            aria-expanded="false"
            [attr.aria-controls]="'collapseExample' + i"
          >
            Personaggi
          </button>
        </p>-->
        <div *ngFor="let pg of combina">
          <h1>{{ pg.characters.characterName }}</h1>
        </div>
      </ul>
    </div>
  </div>
</div>
